@page
@model Host.Pages.Index

<div class="row">
    <div class="col-12">
        <h1>Modular Monolith</h1>
        <p>Modular Monolith is a project that demonstrates how to build a modular monolith application using ASP.NET Core.</p>
        <a href="ModularMonolithModule">Module</a>
        <br>
        <a href="Swagger">Swagger</a>
    </div>
</div>