@page
@model Host.Pages.Index

<div class="row">
    <div class="col-12">
        <h1>True Care Solutions</h1>
        <p>A platform desinged to streamline NDIS care management, client tracking, and compliance for NDIS service providers in Australia</p>
        <a href="ClientModule">Client</a>
        <br>
        <a href="Swagger">Swagger</a>
    </div>
</div>